/AppLexcomConfig/nbproject/private/
/AppLexcomConfig/build/
/AppLexcomConfig/dist/
/WSLexcom/build/
/WSLexcom/dist/
/WSLexcom/nbproject/private/
/LEXCOM/nbproject/private/
/LEXCOM/build/
/LEXCOM/dist/
/AppLexcomExpe/nbproject/private/
/AppLexcomExpe/build/
/AppLexcomExpe/dist/
/WSRestBitnet/nbproject/private/
/FusionFacturador/nbproject/private/
/TerryAPP/nbproject/private/
/TerryAPP/build/
/AppLexcomMonitor/build/
/AppLexcomMonitor/dist/
/AppLexcomCargas/nbproject/private/
/AppLexcomCargas/build/