.AnchoInputTextPro_1 {
    width:200px !important;
    background-color: yellow !important;
}
.AnchoInputTextAreaPro_1 {
    width:662px !important;
}
.AnchoSelectOneMenuPro_1 {
    width:183px !important;
}
li.ui-selectonemenu-item {
    font-size:12px !important;
    color:maroon !important;
}
.AnchoCalendarPro_1 input {
    width:200px !important;
}
.AnchoSpinnerPro_1 input {
    width:183px !important;
}
