.AnchoInputText_1 {
    width: 200px !important;
}
.AnchoInputTextArea_1 {
    width: 950px !important;
}
.AnchoSelectOneMenu_1 {
    width: 183px !important;
}
li.ui-selectonemenu-item {
    font-size: 12px !important;
    color: maroon !important;
}