.AnchoInputText_1 {
    width:400px !important;
}
li.ui-selectonemenu-item {
    font-size:12px !important;
    font-weight:bold !important;
    color:maroon !important;
}
.ui-growl {
    font-size:12px !important;
    font-weight:bold !important;
    color:maroon !important;
}
.ui-growl-message {
    font-size:12px !important;
    font-weight:bold !important;
    color:maroon !important;
}
